
.range-picker {
  background-color: white !important;
}

.rdrCalendarWrapper {
  border: 1px solid rgba(0,0,0,.2);
}

.bs-popover-auto {
  border: none !important;
  border-radius: 0px !important;
}
