.app-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: #ffffff;
  color: #1b1a20;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);

  .header-title {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 0 10px;
    padding: 0 20px;
    font-size: 1.2em;
  }

  .header-right {
    display: flex;
    align-items: center;
    margin-right: 20px;
    .notification {
      margin-right: 20px;
      cursor: pointer;
      position: relative;
      i {
        font-size: 27px;
      }
      .notificationNum {
        position: absolute;
        top: -5px;
        right: -5px;
        background-color: red;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        span {
          font-size: 10px;
          color: #ffffff;
          font-weight: 900;
        }
      }
    }
  }
}
